.button {
    height: $xl-size*1.25;
    width: $xl-size*4.25;
    border-radius: $s-size;
    text-decoration: none;
    line-height: 1;
    border: none;
    padding: $s-size;
    font-weight: 400;
    background: #1f99fd;
    color: #ffffff;
    font-size: $font-size-large;
}

.button--link {
    background: none;
    color: #ccf7ffe7;
    border: none;
}